In [11]:
import pandas as pd
import numpy as np

ages = pd.Series([20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32])
cut_ages = pd.cut(ages,bins=4,right=False,labels=['y','m','h','s'])
#bins =4自动划分为4个相同长度区间段，赋予自定义标签ymhs
type(cut_ages)

pandas.core.series.Series

In [12]:
cut_ages02 = pd.cut(ages,bins=[20,30,40,50,100],right=False)
#bins =[20,30,40,50,100]自动划分为4个指定长度区间段
cut_ages02

0      [20, 30)
1      [20, 30)
2      [20, 30)
3      [20, 30)
4      [20, 30)
5      [20, 30)
6      [30, 40)
7      [30, 40)
8     [50, 100)
9      [40, 50)
10     [40, 50)
11     [30, 40)
dtype: category
Categories (4, interval[int64, left]): [[20, 30) < [30, 40) < [40, 50) < [50, 100)]

In [9]:
pd.value_counts(cut_ages02)

[20, 30)     6
[30, 40)     3
[40, 50)     2
[50, 100)    1
dtype: int64

In [13]:
qcut_ages = pd.qcut(ages,q=4,precision=2)
qcut_ages

0     (19.99, 22.75]
1     (19.99, 22.75]
2      (22.75, 29.0]
3      (22.75, 29.0]
4     (19.99, 22.75]
5      (22.75, 29.0]
6       (29.0, 38.0]
7       (29.0, 38.0]
8       (38.0, 61.0]
9       (38.0, 61.0]
10      (38.0, 61.0]
11      (29.0, 38.0]
dtype: category
Categories (4, interval[float64, right]): [(19.99, 22.75] < (22.75, 29.0] < (29.0, 38.0] < (38.0, 61.0]]

In [14]:
qcut_ages.value_counts()

(19.99, 22.75]    3
(22.75, 29.0]     3
(29.0, 38.0]      3
(38.0, 61.0]      3
dtype: int64

In [33]:
import pandas as pd
import numpy as np
data_0720 = pd.DataFrame(np.random.randn(1000,4))
data_0720.head(7)

          0         1         2         3
0  0.106825  0.438667 -1.920554  1.029589
1 -0.890829  1.344598  0.932655 -0.842001
2 -1.509937 -0.613835 -1.441997  1.527164
3  1.085971 -2.038800 -0.409649 -0.084086
4 -0.710285 -0.609097  0.793278 -1.021521
5 -0.029459 -0.917988  1.377495  0.804054
6 -0.216108  0.047400  1.759444  0.045964

In [12]:
over3_0 = data_0720[data_0720[0].abs()>3][0]
over3_0  #查看第0列是否有绝对值大于3的数据

376    3.214909
389   -3.934196
Name: 0, dtype: float64

In [41]:
over3_all =  data_0720[data_0720.abs()>3].dropna(axis=0,how='all')
#显示所有含有【绝对值大于3】的行方法1
data_0720.iloc[over3_all.index,:]

            0         1         2         3
7   -1.389917 -3.734365  0.109803 -0.121412
61  -2.652243 -1.266683 -3.286649  0.785624
239  0.509082  0.924030  3.088802 -2.279464
291  0.681410 -0.823826 -0.882670 -3.294480
336  3.184116 -0.305703 -1.864167 -1.846729
481 -3.585298 -0.849881  0.180401 -1.719095
499  3.156884  2.152578  0.007470 -0.618926
600  3.260594  0.487043  0.077893 -0.379451
768 -3.683419  0.231017  1.550987  0.916922
780 -3.011111  1.380708  1.054339  0.440321

In [28]:
data_0720[(data_0720.abs()>3).any(1)]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [112]:
data_0720[(np.abs(data_0720)>3).any(1)]  #显示所有含有【绝对值大于3】的行方法2

            0         1         2         3
7   -1.389917 -3.734365  0.109803 -0.121412
61  -2.652243 -1.266683 -3.286649  0.785624
239  0.509082  0.924030  3.088802 -2.279464
291  0.681410 -0.823826 -0.882670 -3.294480
336  3.184116 -0.305703 -1.864167 -1.846729
481 -3.585298 -0.849881  0.180401 -1.719095
499  3.156884  2.152578  0.007470 -0.618926
600  3.260594  0.487043  0.077893 -0.379451
768 -3.683419  0.231017  1.550987  0.916922
780 -3.011111  1.380708  1.054339  0.440321

In [25]:
#将上述边界值设置为±3
data_0720[(np.abs(data_0720)>3).any(1)] = np.sign(data_0720)*3

In [27]:
data_0720.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.007218    -0.022974     0.014084     0.020574
std       0.986860     1.051595     1.020312     1.020784
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.616117    -0.728849    -0.628908    -0.663122
50%       0.031306    -0.026557    -0.019594    -0.022666
75%       0.645558     0.668198     0.680348     0.691943
max       3.000000     3.000000     3.000000     3.000000

In [37]:
data_0720[data_0720[data_0720.abs()>3].any(1)]

            0         1         2         3
7   -1.389917 -3.734365  0.109803 -0.121412
61  -2.652243 -1.266683 -3.286649  0.785624
239  0.509082  0.924030  3.088802 -2.279464
291  0.681410 -0.823826 -0.882670 -3.294480
336  3.184116 -0.305703 -1.864167 -1.846729
481 -3.585298 -0.849881  0.180401 -1.719095
499  3.156884  2.152578  0.007470 -0.618926
600  3.260594  0.487043  0.077893 -0.379451
768 -3.683419  0.231017  1.550987  0.916922
780 -3.011111  1.380708  1.054339  0.440321

In [42]:
#哑变量  指数矩阵
df01 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})
pd.get_dummies(df01['key'])
#get_dummies获取某一列中所有元素和其出现的行数的矩阵

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [61]:
df01_dummeis = pd.get_dummies(df01['key'],prefix='key',prefix_sep='->')
df_with_dummeis = df01['data1'].copy()
#get_dummies获取某一列中所有元素和其出现的行数的矩阵
#其中prefix，prefix_sep在元素之前添加一段指定字符串和符号
#将数据合并
df01_dummeis[df_with_dummeis.name] = df_with_dummeis
df01_dummeis

   key->a  key->b  key->c  data1
0       0       1       0      0
1       0       1       0      1
2       1       0       0      2
3       0       0       1      3
4       1       0       0      4
5       0       1       0      5

   key->a  key->b  key->c  data1
0       0       1       0      0
1       0       1       0      1
2       1       0       0      2
3       0       0       1      3
4       1       0       0      4
5       0       1       0      5

In [203]:
movies = pd.read_table('movies.txt', sep='::',
                       header=None, names=['movie_id', 'title', 'genres'])
movies.head(6)

/var/folders/72/fyrrth9j2cz9w9jm3pm798c00000gn/T/ipykernel_3556/2378147351.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('movies.txt', sep='::',

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller

In [78]:
genres = movies['genres'].copy()
genres.to_csv('genres.csv',index=False,header=False)

In [86]:
import csv
f = open('genres.csv')
genres_read = csv.reader(f,delimiter = '|')
genres_lines = list(genres_read)
type(genres_lines)

list

In [88]:
genres_lines[:6]

[['Animation', "Children's", 'Comedy'],
 ['Adventure', "Children's", 'Fantasy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Action', 'Crime', 'Thriller']]

In [100]:
genres_pd = pd.DataFrame(genres_lines,columns=list('abcdef'))

In [135]:
genres_pd

              a           b        c     d     e     f
0     Animation  Children's   Comedy  None  None  None
1     Adventure  Children's  Fantasy  None  None  None
2        Comedy     Romance     None  None  None  None
3        Comedy       Drama     None  None  None  None
4        Comedy        None     None  None  None  None
...         ...         ...      ...   ...   ...   ...
3878     Comedy        None     None  None  None  None
3879      Drama        None     None  None  None  None
3880      Drama        None     None  None  None  None
3881      Drama        None     None  None  None  None
3882      Drama    Thriller     None  None  None  None

[3883 rows x 6 columns]

In [130]:
genres_pd.notnull().all(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
3878    False
3879    False
3880    False
3881    False
3882    False
Length: 3883, dtype: bool

In [131]:
genres_pd[genres_pd.notnull().all(axis=1)]

           a          b           c       d         e    f
1187  Action  Animation  Children's  Sci-Fi  Thriller  War

In [182]:
genres_pd.loc[:,'a'].unique()

array(['Animation', 'Adventure', 'Comedy', 'Action', 'Drama', 'Thriller',
       'Crime', 'Romance', "Children's", 'Documentary', 'Sci-Fi',
       'Horror', 'Western', 'Mystery', 'Film-Noir', 'War', 'Fantasy',
       'Musical'], dtype=object)

In [133]:
movies.head(6)

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller

In [134]:
genres_dumm = pd.get_dummies(genres_pd,prefix='dumm',prefix_sep='->')
genres_dumm

,dumm->Action,dumm->Adventure,dumm->Animation,dumm->Children's,dumm->Comedy,dumm->Crime,dumm->Documentary,dumm->Drama,dumm->Fantasy,dumm->Film-Noir,...,dumm->Thriller,dumm->War,dumm->Western,dumm->Fantasy,dumm->Musical,dumm->Romance,dumm->Sci-Fi,dumm->Thriller,dumm->War,dumm->War
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
(genres_pd == 'Action').any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
3878    False
3879    False
3880    False
3881    False
3882    False
Length: 3883, dtype: bool

In [156]:
genres_ActionIndex = genres_pd[(genres_pd == 'Action').any(axis=1)].index

In [157]:
movies['genres-Action'] = pd.Series('Action',index=genres_ActionIndex)

In [158]:
movies['genres-Action'].value_counts()

Action    503
Name: genres-Action, dtype: int64

In [178]:
movies['genres-Adventure'] = pd.Series('Adventure',index=(genres_pd[(genres_pd == 'Adventure').any(axis=1)].index))
genres_pd.loc[:,'a'].unique()

In [179]:
movies

,movie_id,title,genres,genres-Adventure,genres-Animation,genres-Childrens,genres-Comedy,genres-Crime
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,Animation,Children,Comedy,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,Adventure,NaN,Children,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,Comedy,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN,NaN,Comedy,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN,Comedy,NaN
...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,NaN,NaN,NaN,Comedy,NaN
3879,3949,Requiem for a Dream (2000),Drama,NaN,NaN,NaN,NaN,NaN
3880,3950,Tigerland (2000),Drama,NaN,NaN,NaN,NaN,NaN
3881,3951,Two Family House (2000),Drama,NaN,NaN,NaN,NaN,NaN
3882,3952,"Contender, The (2000)",Drama|Thriller,NaN,NaN,NaN,NaN,NaN

In [204]:
for i in (genres_pd.loc[:,'a'].unique()):
    movies['genr_'+i] = pd.Series(1,index=(genres_pd[(genres_pd == i).any(axis=1)].index))

In [ ]:
movies

In [206]:
movies.iloc[0].dropna()

movie_id                                     1
title                         Toy Story (1995)
genres             Animation|Children's|Comedy
genr_Animation                             1.0
genr_Comedy                                1.0
genr_Children's                            1.0
Name: 0, dtype: object