In [133]:
import pandas as pd
import numpy as np

clean01 = pd.Series(['aaa', 'bbb', 'ccc','ddd',np.nan,'fff'])
clean01.isnull()  #返回boolean，显示是否是NaN值

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [134]:
from numpy import nan as NA
data01 = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],[NA, NA, NA], [NA, 6.5, 3.]])
data02=data01.reindex([0,1,2,3,4])
data02.iloc[4,:] = 4  #切片索引可以用于赋值
data02.iloc[4,[1,2]] = NA
data02

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
4  4.0  NaN  NaN

In [47]:
data02.dropna(axis=0,how='all')  #按行方向执行，只将所有元素为NaN的行刨除
data02.dropna(axis=0)  #默认为只要当前行(列)存在NaN，就刨除
data02.dropna(thresh=2)  #这一行除去NA值，剩余数值的数量大于等于n，便显示这一行。

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

In [56]:
data02.fillna(method='bfill')
#填充缺失值，默认按列进行，ffill在当前列向前填充，bfill在当前列向后填充
data02.fillna(axis= 1,method='ffill')
#axis = 0在当前列，axis=1在当前行向前填充

     0    1    2
0  1.0  6.5  3.0
1  1.0  1.0  1.0
2  NaN  NaN  NaN
3  NaN  6.5  3.0
4  4.0  4.0  4.0

In [57]:
data02

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
4  4.0  NaN  NaN

In [59]:
data02.fillna({0:1,1:10,2:20,3:30})
#在fillna中传入字典dict，实现不同列填充不同值

     0     1     2
0  1.0   6.5   3.0
1  1.0  10.0  20.0
2  1.0  10.0  20.0
3  1.0   6.5   3.0
4  4.0  10.0  20.0

In [65]:
clean02 = pd.Series([1,2,np.nan,4,5,6,np.nan,np.nan,9,10,11])
#尝试编写：在空缺值填入前后的平均，并均匀变化

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
dtype: bool

In [69]:
data03 = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})
data03['k3'] = [2,2,3,4,1,8,8]
data03

    k1  k2  k3
0  one   1   2
1  two   1   2
2  one   2   3
3  two   3   4
4  one   3   1
5  two   4   8
6  two   4   8

In [70]:
data03.duplicated()  #返回Series，提示每行是否前面出现过（针对所有列）

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [71]:
data03.drop_duplicates()  #刨除前面出现过的重复行（针对所有列）

    k1  k2  k3
0  one   1   2
1  two   1   2
2  one   2   3
3  two   3   4
4  one   3   1
5  two   4   8

In [74]:
data03.duplicated(['k3'])  #返回Series，提示每行是否前面出现过（针对部分列）
data03.drop_duplicates(['k3'])  #刨除前面出现过的重复行（针对部分列）
data03.drop_duplicates(['k3'],keep='last')  #刨除前面出现过的重复行,保留重复中的最后一个

    k1  k2  k3
0  one   1   2
2  one   2   3
3  two   3   4
4  one   3   1
5  two   4   8

In [4]:
import pandas as pd
import numpy as np
data04 = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
'Pastrami', 'corned beef', 'Bacon',
'pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data04
Series04 = data04['ounces'].copy()
Series04

0     4.0
1     3.0
2    12.0
3     6.0
4     7.5
5     8.0
6     3.0
7     5.0
8     6.0
Name: ounces, dtype: float64

In [77]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}

In [83]:
data04['animal'] = [meat_to_animal[x.lower()] for x in data04.loc[:,'food']]

In [136]:
data04['animal'] = data04['food'].map(lambda x : meat_to_animal[x.lower()])
data04

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon     NaN     pig
3     Pastrami     6.0     cow
4  corned beef     NaN     cow
5        Bacon     NaN     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [92]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [101]:
frame.loc['Ohio'] = frame.loc['Ohio'].apply(lambda x: x+10)

In [102]:
frame

           b     d     e
Utah     0.0   1.0   2.0
Ohio    33.0  34.0  35.0
Texas    6.0   7.0   8.0
Oregon   9.0  10.0  11.0

In [138]:
Series04=data04['ounces']
Series04[5] = NA
Series04

/var/folders/72/fyrrth9j2cz9w9jm3pm798c00000gn/T/ipykernel_3328/2851338873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Series04[5] = NA

0     4.0
1     3.0
2    12.0
3     6.0
4     7.5
5     NaN
6     3.0
7     5.0
8     6.0
Name: ounces, dtype: float64

In [141]:
Series04[[2,3]] = NA

/var/folders/72/fyrrth9j2cz9w9jm3pm798c00000gn/T/ipykernel_3328/1825362549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Series04[[2,3]] = NA

In [142]:
Series04

0    4.0
1    3.0
2    NaN
3    NaN
4    7.5
5    NaN
6    3.0
7    5.0
8    6.0
Name: ounces, dtype: float64

In [144]:
list(Series04[Series04.isnull()].index)

[2, 3, 5]

In [158]:
Series04[Series04.size-2]

5.0

In [160]:
Series04[Series04.notnull()][Series04.size-2]

5.0

In [167]:
import insert_

ModuleNotFoundError: No module named 'insert_'

In [169]:
import torch
print(torch.cuda.is_available())

False

In [6]:
Series04[[2,3,5]] = np.nan

In [7]:
Series04

0    4.0
1    3.0
2    NaN
3    NaN
4    7.5
5    NaN
6    3.0
7    5.0
8    6.0
Name: ounces, dtype: float64

In [14]:
Series04[2] = Series04[4].copy()+Series04[6].copy()

In [16]:
Series04[3] = Series04[2]+Series04[4]

In [19]:
type(float(Series04[3]))

float